.flex-column {
    display: flex;
    flex-direction: column !important;
}

.flex-row {
    display: flex;
    flex-direction: row !important;
}

.stick-to-bottom-right{
    width: fit-content;
    align-self: end;
    margin-right: 2em !important;
    margin-bottom: 1em !important;
}